:root {
  --nir-body-bg-color: #f3f2f1;
  --nir-left-box-bg-color: #fff;
  --nir-list-box-bg-hover-color: #f6f6f5;
  --nir-list-box-bg-active-color: #ecf6fd;
  --nir-primary: #4f36ec;
  --nir-primary-hover: #4a35d1;
  --nir-danger: red;
}

body[data-app="nirapp"] {
  background: var(--nir-body-bg-color);
}

body[data-app="nirapp"] .nir-left-box-list {
  padding: 0;
  list-style: none;
  margin: 0;
}

body[data-app="nirapp"] .nir-left-box-list li a {
  font-size: 14px;
  color: #333;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  grid-gap: 10px;
  text-decoration: none;
}

body[data-app="nirapp"] .nir-box {
  box-shadow: 0px 0.3px 0.9px rgb(0 0 0 / 10%), 0px 1.6px 3.6px rgb(0 0 0 / 10%);
  background: var(--nir-left-box-bg-color);

}

body[data-app="nirapp"] .nir-side-box {
  height: 100vh;

}

body[data-app="nirapp"] .nir-left-box-list li a:hover,
body[data-app="nirapp"] .nir-left-box-list li a:focus {
  background-color: var(--nir-list-box-bg-hover-color);
}

body[data-app="nirapp"] .nir-left-box-list li.active a {
  background-color: var(--nir-list-box-bg-active-color);
}

body[data-app="nirapp"] .nir-left-box-list li {
  position: relative;
}

body[data-app="nirapp"] .nir-left-box-list li.active::before {
  content: '';
  position: absolute;
  width: 3px;
  background-color: var(--nir-primary);
  height: 100%;
  top: 0;
  animation: expand 0.25s forwards;
  bottom: 0;
}

body[data-app="nirapp"] .nir-header {
  box-shadow: 0px 0.3px 0.9px rgb(0 0 0 / 10%), 0px 1.6px 3.6px rgb(0 0 0 / 10%);
  z-index: 99;
}

body[data-app="nirapp"] .nir-main-header {
  border-bottom: 1px solid #dadada;
  padding: 15px;
}

body[data-app="nirapp"] .nir-main-header h4 {
  font-size: 20px;
  text-transform: uppercase;
}

body[data-app="nirapp"] .nir-main-add-task-item-add .card-title i {
  font-size: 40px;
}

body[data-app="nirapp"] .nir-main-add-task-item-add .card-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-gap: 20px;
}

body[data-app="nirapp"] .card.nir-main-add-task-item-add {
  border: 2px dashed #ccc;
  cursor: pointer;
}

body[data-app="nirapp"] .nir-empty .xl-large-icon {
  font-size: 30px;
}

body[data-app="nirapp"] .nir-gap {
  grid-gap: 10px;
}

body[data-app="nirapp"] .nir-nodata-found {
  text-align: center;
  margin: 10px 0px;

}

body[data-app="nirapp"] .err-msg {
  color: var(--nir-danger);
  font-size: 12px;
}

body[data-app="nirapp"] .nir-card-title {
  font-size: 16px;
  color: #333;
  text-transform: capitalize;
  font-weight: 500;
}

body[data-app="nirapp"] .task--completed {
  border-left: 5px solid green;
}

body[data-app="nirapp"] .task.task--pending {
  border-left: 5px solid #999;
}

body[data-app="nirapp"] .nir-card-time {
  font-size: 14px;
  color: #666;
  margin: 0 10px;
}

body[data-app="nirapp"] .card-footer button.btn {
  min-width: 80px;
  margin-right: 10px;
}

body[data-app="nirapp"] .nir-card-icon {
  color: #666;
}

body[data-app="nirapp"] .modal-backdrop {
  display: none;
}

body[data-app="nirapp"] .modal {
  background-color: #0000008a;

  z-index: 999999999;
}

body[data-app="nirapp"].modal-open {
  overflow: unset !important;
  padding: 0 !important;
}

body[data-app="nirapp"] .nir-main-add-task-item-list {
  background: #fff;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0px 0.3px 5px 1px rgb(0 0 0 / 10%), 0px 1.6px 3.6px rgb(0 0 0 / 10%);
}

/*sign in page*/
body[data-app="nirapp"] .nir-sign-left {
  height: 100vh;
  background: #4f36ec;
  position: relative;
  overflow: hidden;
  z-index: 999999;
}

body[data-app="nirapp"] .animate {
  height: 100%;
  display: block;
  margin: 0;
  padding: 0;
  width: 100%
}

body[data-app="nirapp"] .animate>li {
  position: absolute;
  height: 50px;
  width: 50px;
  top: 100%;
  left: 10px;
  background-color: rgba(255, 255, 255, .1);
  z-index: -1;
  overflow: hidden;
  animation: move 10s linear infinite
}

body[data-app="nirapp"] .animate>li:nth-last-of-type(2) {
  left: 70px;
  animation-delay: 3.5s;
  height: 15px;
  width: 15px;
}

body[data-app="nirapp"] .animate>li:nth-last-of-type(3) {
  left: 140px;
  animation-delay: 3s
}

body[data-app="nirapp"] .animate>li:nth-last-of-type(4) {
  left: 210px;
  animation-delay: 5.5s
}

body[data-app="nirapp"] .animate>li:nth-last-of-type(5) {
  left: 280px;
  animation-delay: 1.8s;
  height: 65px;
  width: 65px
}

body[data-app="nirapp"] .animate>li:nth-last-of-type(6) {
  left: 140px;
  animation-delay: 6.8s;
  height: 25px;
  width: 25px
}

body[data-app="nirapp"] .animate>li:nth-last-of-type(7) {
  left: 280px;
  animation-delay: 5s;
  height: 35px;
  width: 35px
}


@keyframes move {
  to {
    top: -50px;
    transform: rotate(360deg)
  }
}

body[data-app="nirapp"] .nir-auth-section {
  overflow: hidden;
}

body[data-app="nirapp"] .nir-sign-title h4:before {
  content: '';
  position: absolute;
  bottom: 0;
  height: 4px;
  width: 40px;
  background: #4f36ec;
  right: 0;
  left: 0;
  border-radius: 5px;
}

body[data-app="nirapp"] .nir-sign-title h4 {
  font-size: 30px;
  font-weight: 600;
  position: relative;
  padding: 15px 0px;
}

body[data-app="nirapp"] .btn-primary {
  color: #fff;
  background-color: var(--nir-primary);
  border-color: var(--nir-primary);
}

body[data-app="nirapp"] .btn-primary:hover,
body[data-app="nirapp"] .btn-primary:focus {
  color: #fff;
  background-color: var(--nir-primary-hover);
  border-color: var(--nir-primary-hover);
}

body[data-app="nirapp"] .nir-min-w-100p {
  min-width: 100px;
}

body[data-app="nirapp"] .text-color-primary {
  color: var(--nir-primary);
}

body[data-app="nirapp"] .badge-primary {
  color: #fff;
  background-color: var(--nir-primary);
}

body[data-app="nirapp"] .custom-control-input:checked~.custom-control-label::before {
  color: #fff;
  border-color: var(--nir-primary);
  background-color: var(--nir-primary);
}

body[data-app="nirapp"] .animate {

  position: absolute;
  right: 0;
  left: 0;
  margin: auto;
}

body[data-app="nirapp"] .btn-outline-primary:hover,
body[data-app="nirapp"] .btn-outline-primary:focus {
  background: var(--nir-primary);
  border-color: var(--nir-primary);
  color: #fff
}

body[data-app="nirapp"] .btn-outline-primary,
body[data-app="nirapp"] .btn-outline-primary {
  color: var(--nir-primary);
  border-color: var(--nir-primary);
}

body[data-app="nirapp"] .nir-black {
  color: #000;
}

body[data-app="nirapp"] .nav-tabs .nav-link {
  border-width: 0px;
  border-bottom: 3px solid transparent;
  font-weight: 600;
  color: #333;
}

body[data-app="nirapp"] .nav-tabs .nav-link.active {
  border-bottom: 3px solid var(--nir-primary);
  color: var(--nir-primary);
  font-weight: 600;
}

body[data-app="nirapp"] .btn-light {
  border: 1px solid #ced4da;
}

body[data-app="nirapp"] .Toastify__toast-container {
  z-index: 99999999999999999 !important;
}

body[data-app="nirapp"] .p-datepicker {
  z-index: 999999999999999999999999999999 !important;
}
.nir-bottom button{
border-radius:0 !important;
}
.nir-bottom {
  position: fixed;
  bottom: 0;
  z-index: 999999;
}
.nir-task-panel {
  background: #0000004f !important;
  position: fixed !important;
  z-index: 99999;
  top: 0;
  right: 0;
  left: 0;
}
.nir-task-panel .nir-side-box {
  position: relative;
  bottom: 0;
  height: 100%;
  width: 300px;
  z-index: 9999;
  background: #fff;
}
.nir-top-fix {
  position: absolute;
  z-index: 999999;
  right: -35px;
  bottom: 0;
  top: 0;
  display: flex !important;
  align-items: self-start;
  justify-content: flex-end;
}
.nir-top-fix button{
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.nir-main-content {
  height: 100vh;
}
span.drop-min-width {
  min-width: 2.375rem;
  display: block;
  text-align: center;
}
.avatar {
  position: relative;
  width: 2.375rem;
  height: 2.375rem;
  cursor: pointer;
}
.avatar img {
  width: 100%;
  height: 100%;
}
.hide-arrow.dropdown-toggle::after{
  display: none;
}
.nir-ul-item{
  list-style: none;
  margin: 0;
  padding: auto;
}
.avatar.avatar-online:after {
  background-color: #71dd37;
}
.avatar.avatar-online:after, .avatar.avatar-offline:after, .avatar.avatar-away:after, .avatar.avatar-busy:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 3px;
  width: 8px;
  height: 8px;
  border-radius: 100%;
  box-shadow: 0 0 0 2px #fff;
}
.fw-bold {
 
  font-weight: 600;
}

.bodyPadmain{
  padding-top: 60px;
}